# Editors files
*~
.dir-locals.el
TAGS

# Build files
*.pyc
/.flatpak-builder/
/.git/
/.mypy_cache/
/README.html
/argos/io.github.orontee.Argos.gresource
/argos_*.orig.tar.gz
/build-aux/
/builddir/
/dist/
/htmlcov/
data/gschemas.compiled
po/io.github.orontee.Argos.pot
repo/
/.python-version
