# Editors files
*~
.dir-locals.el
TAGS

# Build files
*.pyc
/dist/
data/gschemas.compiled
/argos/app.argos.Argos.gresource
/README.html
/builddir/
/.flatpak-builder/
po/app.argos.Argos.pot
/argos_*.orig.tar.gz
repo/
