# Editors files
*~
/.dir-locals.el
/TAGS
/docs/cleaned_image/

# Build files
*.pyc
/dist/
data/gschemas.compiled
/argos/io.github.orontee.Argos.gresource
/argos/ui/about.ui
/README.html
/builddir/
/.flatpak-builder/
po/io.github.orontee.Argos.pot
/argos_*.orig.tar.gz
/argos_*.deb
repo/
